<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header corinthians">
            <img class="logo corinthians" th:src="@{/img/corinthians.png}" alt="Símbolo do Corinthians">
            <div class="nome time corinthians">Corinthians</div>
        </div>
        <div class="header santos">
            <div class="nome time santos">Santos</div>
            <img class="logo santos" th:src="@{/img/santos.png}" alt="Time pequeno">
        </div>
    </header>
    <div id="principal">
        <div class="time" id="corinthians">
            <div class="titulares corinthians">
                <div th:each="jogadorCorCol1 : ${corinthiansCol1}" class="jogador corinthians">
                    <div class="numero corinthians" th:text="${jogadorCorCol1.camisa}"></div>
                    <div class="nome corinthians" th:text="${jogadorCorCol1.nome}"></div>
                    <div class="posicao corinthians">GOL</div>
                </div>
            </div>
            <!--<tr th:each="artista : ${artistas}">
                <td th:text="${artista.id}"></td>
                <td th:text="${artista.nome}"></td>
                <td th:text="${artista.estilo}"></td>
                <td>
                    <a th:href="@{'/editar/' + ${artista.id}}">Editar</a>
                    <form th:action="@{'/deletar/' + ${artista.id}}" method="post" style="display:inline;">
                        <button type="submit">Deletar</button>
                    </form>
                </td>
            </tr>-->
            <div class="reservas corinthians">                
            </div>
            <div class="reservas corinthians">                
            </div>
        </div>
        <div class="time" id="santos">
            <div class="titulares santos">
            </div>
            <div class="reservas santos">
            </div>
            <div class="reservas santos">
            </div>
        </div>
    </div>
</body>
</html>